---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---
<Layout title="Merkle Airdrop">
<h1 class="text-3xl font-bold text-green-500 text-center font-mono p-8">
    Welcome to Merkle Airdrop
</h1>
<ul role="list" class="py-6 px-20 space-y-10">
    <Card
        href="http://localhost:4321/MerkleCreation"
        title="Merkle Creation"
        body="Create a Merkle Tree for your grants."
    />
    <Card
        href="http://localhost:4321/MerkleClaim"
        title="Merkle Claim"
        body="Claim your grants (if elegible) using a Merkle Proof."
    />
</ul> 
</Layout>
