---
import Layout from "../layouts/Layout.astro"
import MerkleProofForm from "../components/MerkleProofForm.tsx"
---
<Layout title="Merkle Airdrop">
<h1 class="text-3xl font-bold text-green-500 text-center font-mono">
    Welcome to Merkle Airdrop
</h1>
<MerkleProofForm client:load/>
</Layout>